.img-size {
  width: 100% !important;
  height: 100vh;
  
 object-fit: cover;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  /* background-color: rgb(248, 25, 0) !important; */
  /* background: linear-gradient(to right, #20D4FE 0%, #B722FF 100%); */
  border-radius: 50%;
  width: 30px;
  height: 30px;
}


.carousel-item img {
  filter: contrast(200%);
  filter: brightness(70%);
}

.carousel-caption{
  top: 60%;
transform: translateY(-50%);

}