.company-profile-heading{
  font-weight: bold;
  color: black;
}
.basic-color{
  color: red;
}

.profile-color{
  color: #00a8ff;
}
.profile-info{
  color: #00a8ff;
  font-weight: 500;
}
.profile-detail{
  color: black;
}