.brand-logo {
  width: 200px;
}
.nav-bg-color {
  background-color: black;
}

.nav-item {
  padding: 0 15px;
}
.navbar-light .navbar-toggler {
  color: transparent;
}

.navbar-toggler-Icon {
  color: white;
}

.navbarLink {
  color: white !important;
  font-weight: 600;
  font-size: 1.2rem;
}
.navbarLink:hover {
  background: linear-gradient(to right, #20d4fe 0%, #b722ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 992px) {
  .navbarLink {
    position: relative;
  }
  .navbarLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 0%;
    height: 3px;
    background: linear-gradient(to right, #20d4fe 0%, #b722ff 100%);
    transition: all 1s ease-in-out;
  }
  .navbarLink:hover::after {
    width: 100%;
  }
}
.navbarLink.active {
  background: linear-gradient(to right, #20d5fefb 0%, #b522ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
